<div class="contenedor">
    <h1>{{valor}}</h1>
    <h3>Noroeste NOA</h3>
    <p>Un viaje único en el Tren a las Nubes
        Este es un viaje único por la cordillera andina a más de 4000 m de altura, en unos de los trenes más altos y asombrosos del mundo</p>
        <img src="/assets/imagenes/noa.jpg">        
        <p>
        El recorrido actual combina trayectos en bus y tren. Desde la ciudad de Salta, se sale en vehículo recorriendo la ruta 51, pasando las localidades de Campo Quijano y Gobernador Solá hasta llegar al paraje el Alfarcito. El viaje continúa por la Quebrada de las Cuevas y la llanura de Muñano hasta llegar a San Antonio de los Cobres, donde se toma el tren, que atravesando rulos, túneles y caminos zigzagueantes arribará al Viaducto la Polvorilla, una monumental obra de ingeniería que marca el fin del recorrido del tren y su punto más impactante.</p>

        <h3>Cataratas del Iguazú</h3>
        <img src="/assets/imagenes/cataratas.jpg">
        <p>Parque Nacional Iguazú
            El lado argentino comprende el 80% del territorio de las cataratas y es uno de los más apreciados, aunque su vecino brasileño no tiene nada que envidiar.
            
            El mejor punto de partida para visitar el lado argentino es Puerto Iguazú, una agradable localidad situada a 23 kilómetros de las cataratas.
            
            Paseo en barco: Una de las actividades más impresionantes consiste en un paseo en barco por el Río Iguazú, en el cual el barco se introduce bajo algunas de las imponentes cascadas para refrescar a los visitantes.
            Garganta del Diablo: El salto con mayor caudal y altura compone un majestuoso espectáculo que se puede contemplar a escasos metros de distancia.
            Coatíes: El parque está repleto de estos divertidos animales, que suelen reunirse junto a los bares y restaurantes para tratar de robar a los visitantes desprevenidos.
            Paseos bajo la luna llena: Cada vez que hay luna llena las cataratas adquieren un brillo especial y durante 5 días al mes algunos privilegiados pueden disfrutar de las visitas nocturnas.
            Parque Nacional do Iguaçú
            Con sólo el 20% de las cataratas en su territorio, el lado brasileño ofrece vistas tan impresionantes como las del lado argentino gracias a la naturaleza salvaje que envuelve a las aguas turbulentas.</p>
</div>
