<div class="contenedor">
    <h1>{{valor}}</h1>
    <h3>Bariloche</h3>
    <p>Bariloche es, para muchos, una de las ciudades más bellas de Argentina. Su ubicación, en la Patagonia argentina, ofrece unos paisajes inigualables que encontrarás en pocos lugares del mundo. ¿Estás pensando visitar este recóndito lugar? Aquí te contamos las cosas imprescindibles que hacer en Bariloche.</p>
        <img src="/assets/imagenes/bariloche.jpg">        
        <p>Parque Nacional Nahuel Huapi
            Una ciudad con lago siempre tiene un toque especial y esa es una de las cosas más especiales de Bariloche. Este lugar se encuentra a orillas del Lago Nahuel Huapi, un nombre mapuche cuyo significado es Isla del Jaguar y que cuenta con un parque nacional con infinidad de actividades que realizar (algunas de ellas te las contamos a continuación).
            
            Caminatas, escalada, deportes de aventura e incluso navegar en el propio lago… el Parque Nacional Nahuel Huapi es un lugar en el que podrás pasar varios días sin tener ni un minutos de aburrimiento. Analiza bien cada una de las actividades que ofrece este lugar y organiza cuáles quieres hacer para aprovechar al máximo tus vacaciones en Bariloche.

            Visitas a sus cerros
            Bariloche está rodeado por varios cerros que son perfectos para realizar caminatas, pero sobre todo son el destino perfecto para las vacaciones de invierno. En esta época, la ciudad se llena de turistas aficionados al esquí, ya que aquí se encuentra el Cerro Catedral con la estación de esquí más grande del hemisferio sur.
            
            Además, puedes visitar, entre otros, el Cerro Tronador, el más alto de la zona y en cuya base se encuentra el glaciar Ventisquero Negro, el Cerro López, ideal para realizar diferentes deportes de aventura y el Cerro Campanario, con una de las vistas más bonitas de la zona.
            
            Cómo llegar a los cerros de Bariloche: al ser diferentes cerros, a cada uno se accede de una manera diferente. En Denomades contamos con un tour al Cerro Catedral y otra excursión al Cerro Tronador, de cuatro y nueve horas respectivamente.
        </p>
</div>